In [1]:
#Importing Basic Libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#program to display warning a message 
import warnings
# displaying the warning message 
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('UpdatedResumeDataSet.csv')
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [3]:
df.shape

(962, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

In [5]:
df.isnull().sum()

Category    0
Resume      0
dtype: int64

In [6]:
df['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'Web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [7]:
df['Category'].nunique()

25

In [8]:
categories = df['Category'].value_counts().reset_index()
categories

                     Category  count
0              Java Developer     84
1                     Testing     70
2             DevOps Engineer     55
3            Python Developer     48
4               Web Designing     45
5                          HR     44
6                      Hadoop     42
7                  Blockchain     40
8               ETL Developer     40
9          Operations Manager     40
10               Data Science     40
11                      Sales     40
12        Mechanical Engineer     40
13                       Arts     36
14                   Database     33
15     Electrical Engineering     30
16         Health and fitness     30
17                        PMO     30
18           Business Analyst     28
19           DotNet Developer     28
20         Automation Testing     26
21  Network Security Engineer     25
22              SAP Developer     24
23             Civil Engineer     24
24                   Advocate     20

In [9]:
import re
def clean_function(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [10]:
df1= df.copy()
df1

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [11]:
df1['cleaned_resume'] = df1['Resume'].apply(lambda x: clean_function(x))
df1.head()

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...

In [12]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [13]:
nlp = spacy.load("en_core_web_sm")

In [14]:
len(STOP_WORDS)

326

In [15]:
def preprocess(text):
    doc = nlp(text)
    no_stop_words = [token.text for token in doc if not token.is_stop and not token.is_punct]
    return " ".join(no_stop_words)

In [16]:
df1["preprocessed_resume"] = df1["cleaned_resume"].apply(preprocess)

In [17]:
df1.head()

,Category,Resume,cleaned_resume,preprocessed_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...,Skills Programming Languages Python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...,Education Details 2013 2017 B E UIT RGPV Data ...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...,Areas Interest Deep Learning Control System De...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...,Education Details MCA YMCAUST Faridabad Haryan...

In [18]:
len(df1["cleaned_resume"][1])

1130

In [19]:
len(df1["preprocessed_resume"][1])

992

In [22]:
df2 = df1.copy()
df2

,Category,Resume,cleaned_resume,preprocessed_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...,Skills Programming Languages Python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...,Education Details 2013 2017 B E UIT RGPV Data ...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...,Areas Interest Deep Learning Control System De...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...,Education Details MCA YMCAUST Faridabad Haryan...
...,...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,Computer Skills Proficient in MS office Word B...,Computer Skills Proficient MS office Word Basi...
958,Testing,â Willingness to accept the challenges. â ...,Willingness to a ept the challenges Positive ...,Willingness ept challenges Positive thinking...
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",PERSONAL SKILLS Quick learner Eagerness to lea...,PERSONAL SKILLS Quick learner Eagerness learn ...
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...,COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,Skill Set OS Windows XP 7 8 8 1 10 Database MY...,Skill Set OS Windows XP 7 8 8 1 10 Database MY...

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
label_encoder = LabelEncoder()

In [23]:
df2["encoded_category"] = label_encoder.fit_transform(df2["Category"])

In [24]:
df2

,Category,Resume,cleaned_resume,preprocessed_resume,encoded_category
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...,Skills Programming Languages Python pandas num...,6
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...,Education Details 2013 2017 B E UIT RGPV Data ...,6
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...,Areas Interest Deep Learning Control System De...,6
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...,Skills R Python SAP HANA Tableau SAP HANA SQL ...,6
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...,Education Details MCA YMCAUST Faridabad Haryan...,6
...,...,...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,Computer Skills Proficient in MS office Word B...,Computer Skills Proficient MS office Word Basi...,23
958,Testing,â Willingness to accept the challenges. â ...,Willingness to a ept the challenges Positive ...,Willingness ept challenges Positive thinking...,23
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",PERSONAL SKILLS Quick learner Eagerness to lea...,PERSONAL SKILLS Quick learner Eagerness learn ...,23
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...,COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...,23
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,Skill Set OS Windows XP 7 8 8 1 10 Database MY...,Skill Set OS Windows XP 7 8 8 1 10 Database MY...,23

In [25]:
import pickle
with open('./model/label_encoder.pkl', 'wb') as le_file:
    pickle.dump(label_encoder, le_file)

In [26]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(df2.preprocessed_resume,df2.encoded_category,test_size = 0.2)

In [34]:
type(X_train.values)

numpy.ndarray

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
v = CountVectorizer()

In [38]:
X_train_cv = v.fit_transform(X_train.values)
X_train_cv

<769x7329 sparse matrix of type '<class 'numpy.int64'>'
	with 130010 stored elements in Compressed Sparse Row format>

In [39]:
X_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [45]:
v.get_feature_names_out().shape

(7329,)

In [46]:
v.vocabulary_

{'core': 1600,
 'competencies': 1414,
 'maintain': 3955,
 'processes': 5103,
 'ensure': 2312,
 'project': 5152,
 'management': 3978,
 'documentation': 2082,
 'reports': 5520,
 'plans': 4920,
 'relevant': 5486,
 'urate': 6938,
 'complete': 1427,
 'report': 5516,
 'automation': 712,
 'dashboard': 1768,
 'preparation': 5045,
 'sharing': 5975,
 'feedbacks': 2609,
 'basis': 807,
 'performance': 4827,
 'manager': 3982,
 'forecasting': 2723,
 'data': 1770,
 'future': 2812,
 'risks': 5651,
 'changes': 1187,
 'updating': 6925,
 'delivery': 1882,
 'team': 6538,
 'timely': 6666,
 'good': 2920,
 'understanding': 6891,
 'lifecycle': 3799,
 'proven': 5190,
 'excellence': 2444,
 'risk': 5650,
 'control': 1563,
 'software': 6118,
 'development': 1960,
 'sdlc': 5862,
 'ability': 249,
 'synthesize': 6459,
 'qualitative': 5266,
 'quantitative': 5270,
 'quickly': 5289,
 'draw': 2118,
 'meaningful': 4085,
 'insights': 3369,
 'knowledge': 3653,
 'programme': 5141,
 'methodologies': 4146,
 'reporting': 5519,
 'governance': 2929,
 'work': 7247,
 'different': 1995,
 'cross': 1688,
 'functional': 2799,
 'stakeholders': 6258,
 'establish': 2390,
 'reliable': 5488,
 'productive': 5115,
 'working': 7256,
 'relationship': 5479,
 'strong': 6336,
 'time': 6662,
 'organizational': 4627,
 'skills': 6062,
 'multitasking': 4314,
 'meet': 4109,
 'deadlines': 1811,
 'computer': 1448,
 'ce': 1147,
 'ification': 3211,
 'advance': 336,
 'ms': 4296,
 'office': 4516,
 '2013': 93,
 'macros': 3928,
 'strategic': 6319,
 'thinking': 6636,
 'decision': 1833,
 'making': 3967,
 'sound': 6154,
 'analytical': 481,
 'multi': 4305,
 'tasking': 6511,
 'fast': 2586,
 'paced': 4700,
 'environment': 2336,
 'leadership': 3743,
 'inter': 3408,
 'personal': 4842,
 'information': 3326,
 'particularly': 4760,
 'excel': 2441,
 'extraction': 2525,
 'formulae': 2738,
 'pivots': 4906,
 'graphs': 2944,
 'education': 2203,
 'details': 1943,
 'january': 3526,
 '2005': 81,
 'bachelor': 754,
 'business': 1029,
 'administration': 327,
 'pune': 5227,
 'maharashtra': 3940,
 'modern': 4236,
 'college': 1355,
 'hsc': 3154,
 'ssc': 6235,
 'saints': 5739,
 'high': 3066,
 'school': 5826,
 'pmo': 4946,
 'having': 3023,
 'exp': 2469,
 'years': 7305,
 'experience': 2481,
 'expertise': 2487,
 'handling': 3004,
 'quality': 5268,
 'analyst': 477,
 'proficient': 5128,
 'analyzing': 487,
 'tools': 6702,
 'techniques': 6549,
 'skill': 6059,
 'exprience': 2510,
 '47': 181,
 'months': 4265,
 '19': 57,
 'monthscompany': 4266,
 'company': 1402,
 'capita': 1084,
 'india': 3294,
 'pvt': 5244,
 'ltd': 3909,
 'description': 1922,
 'key': 3629,
 'result': 5588,
 'areas': 577,
 'responsible': 5575,
 'su': 6348,
 'essful': 2384,
 'transition': 6762,
 'system': 6462,
 'operating': 4574,
 'capabilities': 1078,
 'prudential': 5201,
 'multiclient': 4306,
 'pheonix': 4867,
 'royal': 5701,
 'london': 3883,
 'travelled': 6777,
 'onsite': 4557,
 'glasgow': 2891,
 'uk': 6876,
 'understand': 6890,
 'process': 5101,
 'execute': 2454,
 'essfully': 2385,
 'offshore': 4524,
 'transitioned': 6763,
 'order': 4609,
 'lead': 3740,
 'members': 4115,
 'follow': 2712,
 'new': 4415,
 'ways': 7174,
 'manage': 3975,
 'internal': 3425,
 'external': 2520,
 'stakeholder': 6257,
 'engagement': 2289,
 'collaboration': 1343,
 'teams': 6540,
 'global': 2895,
 'pmos': 4947,
 'network': 4409,
 'helps': 3052,
 'achieve': 264,
 'robust': 5668,
 'operations': 4578,
 'resources': 5560,
 'infrastructure': 3334,
 'steady': 6293,
 'state': 6276,
 'saviant': 5783,
 'technologies': 6552,
 'multiple': 4311,
 'projects': 5154,
 'established': 2391,
 'scratch': 5849,
 'provided': 5192,
 'seasoned': 5874,
 'technical': 6544,
 'staff': 6250,
 'defined': 1858,
 'implemented': 3243,
 'priority': 5086,
 'resource': 5559,
 'supportive': 6419,
 'allowed': 435,
 'employees': 2265,
 'grow': 2964,
 'provide': 5191,
 'imaginative': 3229,
 'solutions': 6136,
 'complex': 1431,
 'client': 1289,
 'need': 4382,
 'track': 6732,
 'monitor': 4256,
 'financial': 2642,
 'program': 5139,
 'financials': 2643,
 'actual': 287,
 'budgeted': 1009,
 'comparison': 1408,
 'labor': 3687,
 'hours': 3138,
 'dollars': 2090,
 'costs': 1624,
 'capital': 1085,
 'secure': 5886,
 'funding': 2807,
 'approvals': 554,
 'scope': 5842,
 'going': 2910,
 'identifying': 3197,
 'assessing': 631,
 'tracking': 6735,
 'developing': 1959,
 'executing': 2456,
 'mitigation': 4211,
 'strategies': 6321,
 'reviewed': 5614,
 'document': 2081,
 'lessons': 3774,
 'learned': 3751,
 'recommendations': 5407,
 'mitigate': 4210,
 'identification': 3193,
 'strategy': 6323,
 'issue': 3502,
 'escalation': 2372,
 'communication': 1393,
 'timeline': 6664,
 'infosys': 3329,
 'budgeting': 1010,
 'billing': 878,
 'preparing': 5049,
 'managers': 3984,
 'entire': 2325,
 'unit': 6904,
 'interpret': 3433,
 'analyze': 484,
 'results': 5590,
 'statistical': 6284,
 'ongoing': 4554,
 'case': 1110,
 'diagrams': 1987,
 'activity': 286,
 'scenarios': 5807,
 'collate': 1346,
 'study': 6346,
 'patterns': 4796,
 'conduct': 1473,
 'brainstorming': 959,
 'sessions': 5954,
 'identify': 3196,
 'outliers': 4669,
 'review': 5613,
 'approve': 555,
 'assist': 641,
 'setting': 5957,
 'plan': 4914,
 'reviewing': 5616,
 'dashboards': 1769,
 'customer': 1731,
 'feedback': 2608,
 'analysis': 476,
 'reviews': 5617,
 'validate': 6982,
 'inputs': 3359,
 'mangers': 3991,
 'ppt': 5006,
 'supporting': 6418,
 'tl': 6684,
 'training': 6747,
 'people': 4823,
 'domain': 2091,
 'growth': 2965,
 'sla': 6068,
 'compliance': 1433,
 'audits': 687,
 'auditing': 686,
 'onshore': 4556,
 'agents': 366,
 'simultaneously': 6037,
 'old': 4531,
 'assisting': 646,
 'transformation': 6756,
 'influence': 3318,
 'collaborate': 1340,
 'levels': 3780,
 'organization': 4626,
 'helping': 3051,
 'line': 3812,
 'solve': 6138,
 'specific': 6183,
 'audit': 685,
 'problems': 5098,
 'groups': 2963,
 'weekly': 7196,
 'monthly': 4264,
 'quarterly': 5274,
 'yearly': 7304,
 'mis': 4204,
 'variance': 6999,
 'task': 6509,
 'activities': 285,
 'publish': 5216,
 'versed': 7035,
 'internet': 3428,
 'applications': 536,
 'erp': 2365,
 'systems': 6464,
 'ie': 3205,
 'sage': 5737,
 'flotilla': 2693,
 'lm': 3843,
 'tally': 6494,
 'wms': 7239,
 'exceed': 2438,
 '4000': 167,
 'etc': 2407,
 'dossier': 2098,
 'permanent': 4836,
 'address': 306,
 'bandra': 779,
 'west': 7203,
 'mumbai': 4315,
 '400': 166,
 '050education': 8,
 'com': 1361,
 'commerce': 1376,
 'bombay': 930,
 'university': 6911,
 'st': 6242,
 'andrews': 491,
 'dim': 2003,
 'ignou': 3216,
 'landmark': 3702,
 'insurance': 3392,
 'brokers': 988,
 'employee': 2264,
 'group': 2961,
 'enterprise': 2320,
 'planning': 4919,
 'jan': 3524,
 '2019': 99,
 'till': 6661,
 'date': 1786,
 'largest': 3714,
 'brokerage': 987,
 'firms': 2663,
 'offices': 4518,
 '24': 114,
 'states': 6279,
 'pan': 4726,
 'landmarkgroup': 3703,
 'annual': 503,
 'turnover': 6843,
 '2200': 109,
 'cr': 1654,
 'position': 4980,
 'leading': 3744,
 'overseeing': 4686,
 '12': 31,
 'correct': 1608,
 'tat': 6513,
 'followed': 2713,
 'regards': 5447,
 'cheque': 1225,
 'submission': 6360,
 'right': 5641,
 'upto': 6936,
 'policy': 4966,
 'issuance': 3501,
 'support': 6416,
 'motor': 4278,
 'health': 3037,
 'ensuring': 2315,
 'entry': 2334,
 'customers': 1732,
 'correctly': 1612,
 'service': 5946,
 'underwriting': 6897,
 'documents': 2086,
 'verification': 7030,
 'costings': 1622,
 'products': 5118,
 'followups': 2716,
 'companies': 1401,
 'complain': 1424,
 'sop': 6145,
 'conducting': 1475,
 'briefing': 978,
 'liasing': 3790,
 'operational': 4577,
 'daily': 1756,
 'cash': 1112,
 'transactions': 6753,
 'vice': 7052,
 'president': 5060,
 'trippereri': 6805,
 'travels': 6779,
 'tours': 6719,
 '2017': 97,
 'mar': 4016,
 '2018': 98,
 'startup': 6274,
 'travel': 6776,
 'agency': 364,
 'organising': 4625,
 'local': 3856,
 'international': 3427,
 'looked': 3887,
 'overall': 4678,
 'administrative': 328,
 'sales': 5744,
 'functions': 2803,
 'vish': 7086,
 'hotel': 3135,
 'supplies': 6413,
 '2015': 95,
 'nov': 4470,
 '2016': 96,
 'distributor': 2059,
 'star': 6268,
 'hotels': 3136,
 'amenities': 455,
 'supplier': 6411,
 '50': 186,
 'supply': 6414,
 'chain': 1177,
 'logistics': 3875,
 'incharge': 3269,
 'running': 5721,
 'shipping': 5989,
 'imports': 3256,
 'warehousing': 7158,
 'distribution': 2057,
 'related': 5472,
 'overlooking': 4683,
 'managing': 3987,
 'aspects': 623,
 'implementing': 3244,
 'procedures': 5100,
 'inventory': 3456,
 'warehouse': 7156,
 'material': 4054,
 'plus': 4944,
 'exports': 2503,
 'vendor': 7021,
 'negotiations': 4391,
 'addition': 301,
 'customs': 1738,
 'cha': 1176,
 'negotiating': 4389,
 'freight': 2771,
 'forwarders': 2746,
 'best': 849,
 'rates': 5342,
 'quickest': 5288,
 'times': 6667,
 'clearance': 1284,
 'import': 3248,
 'shipments': 5987,
 'export': 2499,
 'government': 2930,
 'tax': 6516,
 'compliances': 1435,
 'adhered': 312,
 'benefits': 844,
 'rebates': 5386,
 'duty': 2155,
 'schemes': 5819,
 'received': 5395,
 'availed': 725,
 'exim': 2465,
 'license': 3795,
 'held': 3047,
 'satisfied': 5773,
 'services': 5947,
 'obstacles': 4501,
 'faced': 2541,
 'smoothened': 6093,
 'hassel': 3020,
 'free': 2767,
 'ount': 4654,
 'paybles': 4799,
 'receivables': 5393,
 'stock': 6302,
 'maintained': 3957,
 'warehouses': 7157,
 'ounting': 4659,
 'books': 936,
 'sourcing': 6158,
 'vendors': 7022,
 'manufacturing': 4007,
 'product': 5113,
 'manufacture': 4004,
 'visiting': 7092,
 'survey': 6428,
 'satisfaction': 5771,
 'shortfalls': 6001,
 'hr': 3150,
 'function': 2798,
 'like': 3806,
 'recruitment': 5421,
 'interviewing': 3444,
 'finalizing': 2639,
 'candidates': 1075,
 'gea': 2848,
 'ecoflex': 2187,
 'middle': 4174,
 'east': 2175,
 'fze': 2816,
 'germany': 2871,
 'suppliers': 6412,
 'technology': 6554,
 'components': 1442,
 'food': 2717,
 'energy': 2287,
 'industries': 3309,
 'focuses': 2707,
 'sophisticated': 6147,
 'production': 5114,
 'generates': 2858,
 'revenues': 5611,
 'excess': 2448,
 'eur': 2419,
 'billion': 879,
 'annually': 504,
 'deliverables': 1877,
 'acquire': 273,
 'develop': 1954,
 'enhance': 2299,
 'relationships': 5480,
 'economical': 2189,
 'faster': 2587,
 'modes': 4238,
 'forwarding': 2747,
 'requirements': 5539,
 'pricing': 5073,
 'eye': 2532,
 'maximizing': 4073,
 'profits': 5137,
 'reducing': 5431,
 'individual': 3301,
 'sectors': 5885,
 'carrier': 1102,
 'goods': 2921,
 'respective': 5564,
 'destinations': 1937,
 'negotiate': 4386,
 'charges': 1196,
 'air': 390,
 'lines': 3815,
 'bulk': 1023,
 'moving': 4287,
 'americas': 458,
 'europe': 2420,
 'dubai': 2145,
 'china': 1235,
 'gcc': 2844,
 'countries': 1635,
 'possible': 4986,
 'snag': 6099,
 'loopholes': 3892,
 'consignments': 1508,
 'late': 3716,
 'required': 5537,
 'deadline': 1810,
 'find': 2646,
 'alternate': 440,
 'meeting': 4110,
 'commitment': 1384,
 'logistic': 3874,
 'transporters': 6774,
 'cost': 1620,
 'effective': 2209,
 'transport': 6772,
 'coordinating': 1592,
 'custom': 1730,
 'house': 3139,
 'clearances': 1285,
 'reasonable': 5382,
 'interfacing': 3419,
 'airlines': 394,
 'optimize': 4594,
 'transportation': 6773,
 'damage': 1759,
 'transit': 6761,
 'monitoring': 4258,
 'loss': 3895,
 'undertaking': 6895,
 'measures': 4091,
 'co': 1319,
 'ordinated': 4613,
 'schedule': 5808,
 'mobilization': 4226,
 'shore': 5999,
 'european': 2421,
 'sites': 6052,
 'materials': 4055,
 'curtail': 1726,
 'holding': 3110,
 'expenses': 2479,
 'specifications': 6186,
 'establishing': 2392,
 'quantity': 5272,
 'wastages': 7162,
 'disposal': 2050,
 'obsolete': 4500,
 'retired': 5601,
 'distributions': 2058,
 'maintaining': 3959,
 'efficient': 2213,
 'receipt': 5392,
 'inspection': 3372,
 'storage': 6306,
 'resolving': 5558,
 'affecting': 359,
 'stores': 6309,
 'including': 3275,
 'punctuality': 5226,
 'day': 1790,
 'vacation': 6977,
 'paper': 4734,
 'processed': 5102,
 'manner': 3996,
 'following': 2714,
 'discrepancies': 2033,
 'expired': 2489,
 'claims': 1267,
 'returns': 5606,
 'purchase': 5231,
 'procurement': 5106,
 'providing': 5196,
 'commodities': 1387,
 'aligned': 420,
 'contractual': 1557,
 'statutory': 6289,
 'potential': 4995,
 'schedules': 5812,
 'items': 3507,
 'smooth': 6092,
 'procuring': 5107,
 'essential': 2382,
 'price': 5071,
 'better': 850,
 'increased': 3282,
 'volumes': 7119,
 'long': 3884,
 'term': 6586,
 'partnerships': 4769,
 'foreign': 2726,
 'acquiring': 275,
 'techno': 6550,
 'commercial': 1377,
 'offers': 4515,
 'handled': 3002,
 'pre': 5026,
 'qualification': 5262,
 'registrations': 5456,
 'significant': 6024,
 'contributions': 1561,
 'managed': 3977,
 'receiving': 5396,
 'dispatch': 2045,
 'special': 6177,
 'facility': 2549,
 'iso': 3498,
 '9001': 228,
 '2008': 85,
 'standards': 6265,
 'factories': 2553,
 'asia': 615,
 'carrying': 1105,
 'picking': 4885,
 'packing': 4708,
 'average': 726,
 '45': 178,
 'orders': 4611,
 'aed': 351,
 '15': 43,
 'million': 4185,
 'inventories': 3455,
 'stored': 6308,
 'holds': 3112,
 'credit': 1671,
 'serving': 5949,
 'clients': 1290,
 'power': 4998,
 'marine': 4022,
 'oil': 4530,
 'construction': 1520,
 'sabic': 5730,
 'ksa': 3671,
 'played': 4931,
 'role': 5672,
 'streamlining': 6327,
 'pivotal': 4905,
 'introducing': 3452,
 'systematic': 6463,
 'discrepancy': 2034,
 'generated': 2857,
 'standardized': 6264,
 'stocking': 6303,
 'checking': 1214,
 'housekeeping': 3140,
 'abridged': 251,
 'decrease': 1841,
 'hour': 3137,
 'turnaround': 6841,
 'goal': 2905,
 'kuehne': 3675,
 'nagel': 4344,
 'llc': 3839,
 'worldwide': 7265,
 'leader': 3741,
 'seafreight': 5867,
 'airfreight': 393,
 'overland': 4682,
 'contract': 1552,
 'businesses': 1030,
 'executives': 2460,
 'reported': 5517,
 'general': 2854,
 'ounts': 4660,
 'coordination': 1593,
 'supervising': 6406,
 'traffic': 6741,
 'scheduled': 5809,
 'drivers': 2132,
 'negotiated': 4387,
 'routes': 5696,
 'truck': 6816,
 'carriers': 1103,
 'essayed': 2381,
 'security': 5890,
 'united': 6905,
 'nations': 4360,
 'johnson': 3562,
 'marriot': 4034,
 'hilton': 3076,
 'monitored': 4257,
 'movements': 4284,
 'direct': 2011,
 'transshipment': 6775,
 'far': 2580,
 'amman': 463,
 'egypt': 2221,
 'branches': 962,
 'usa': 6945,
 'land': 3700,
 'sea': 5865,
 'supervised': 6405,
 'exit': 2467,
 'points': 4960,
 'job': 3558,
 'completed': 1428,
 'keeping': 3620,
 'revenue': 5610,
 'regular': 5459,
 'visits': 7094,
 'grievances': 2955,
 'dhl': 1979,
 'express': 2506,
 'courrier': 1639,
 'wholly': 7210,
 'owned': 4689,
 'dpwn': 2112,
 'deutsche': 1952,
 'post': 4987,
 'world': 7264,
 'net': 4397,
 'handle': 3001,
 'ountholders': 4658,
 'tracing': 6731,
 'solving': 6140,
 'undelivered': 6886,
 'stations': 6283,
 'deliveries': 1879,
 'proactively': 5095,
 'informed': 3327,
 'status': 6288,
 'productivity': 5117,
 'member': 4114,
 'records': 5416,
 'inbound': 3264,
 'informing': 3328,
 'paperworks': 4737,
 'sending': 5914,
 'bank': 784,
 'interest': 3415,
 'warrants': 7160,
 'globally': 2897,
 'sbi': 5790,
 'wns': 7240,
 'airlink': 395,
 'departments': 1898,
 'cargo': 1098,
 'ticketing': 6648,
 'designation': 1926,
 'assistant': 643,
 'executive': 2459,
 'responsibilities': 5572,
 'answering': 510,
 'queries': 5277,
 'request': 5533,
 'complaints': 1426,
 'quotations': 5293,
 'zone': 7326,
 'liaising': 3787,
 'jebel': 3542,
 'ali': 418,
 'port': 4975,
 'sharjah': 5976,
 'barge': 797,
 'loadouts': 3851,
 'adhering': 315,
 'professional': 5121,
 'procedure': 5099,
 'certificate': 1167,
 'worked': 7250,
 'packages': 4704,
 'serck': 5935,
 'purchasing': 5233,
 'purchases': 5232,
 'parts': 4770,
 'involving': 3476,
 'formalities': 2732,
 'soliciting': 6128,
 'quotes': 5295,
 'communicating': 1392,
 'dispatching': 2046,
 'equipments': 2357,
 'maintenance': 3961,
 'reorder': 5508,
 'par': 4738,
 'involves': 3475,
 'recording': 5415,
 'filing': 2629,
 'march': 4018,
 '2000': 75,
 'april': 562,
 '2003': 79,
 'british': 983,
 'based': 802,
 'multinational': 4310,
 'radiators': 5307,
 'coolers': 1585,
 'heat': 3043,
 'exchangers': 2450,
 'cooling': 1586,
 'elements': 2237,
 'purposes': 5237,
 'joined': 3564,
 'promoted': 5158,
 'aug': 688,
 '2001': 77,
 'database': 1772,
 'walk': 7139,
 'calls': 1062,
 'circulating': 1248,
 'memos': 4119,
 'invoicing': 3471,
 'major': 3963,
 'banking': 786,
 'petty': 4855,
 'cashiering': 1113,
 'duties': 2154,
 'june': 3592,
 '2014': 94,
 'mechanical': 4095,
 'engineering': 2295,
 'savitribai': 5786,
 'phule': 4877,
 'design': 1924,
 'engineer': 2293,
 'microsoft': 4168,
 'autocad': 705,
 'catia': 1127,
 'solidworks': 6131,
 'push': 5242,
 'currently': 1723,
 'types': 6855,
 'ice': 3181,
 'plant': 4921,
 'designed': 1927,
 'manufactured': 4005,
 'includes': 3274,
 'pressure': 5063,
 'vessel': 7042,
 'condenser': 1470,
 'conveyor': 1583,
 'help': 3048,
 '3d': 160,
 'modelling': 4232,
 'bom': 929,
 'central': 1155,
 'water': 7166,
 'research': 5543,
 'station': 6282,
 'govt': 2931,
 'year': 7303,
 'department': 1896,
 'workshop': 7260,
 'khadakwasla': 3633,
 'experiences': 2483,
 'generation': 2860,
 'waves': 7172,
 'laboratory': 3688,
 'useful': 6950,
 'harbor': 3012,
 'structures': 6340,
 'chennai': 1224,
 'goa': 2904,
 'japan': 3527,
 'bangladesh': 782,
 'wave': 7171,
 'maker': 3965,
 'comes': 1365,
 'hydraulic': 3171,
 'pneumatic': 4950,
 'generator': 2862,
 'servo': 5952,
 'actuator': 288,
 'axial': 741,
 'piston': 4900,
 'pump': 5221,
 'electric': 2230,
 'supervision': 6407,
 'guidance': 2975,
 'scientist': 5835,
 'cwprs': 1743,
 'softwares': 6120,
 'v5': 6973,
 'proe': 5119,
 'extra': 2521,
 'curricular': 1724,
 'organize': 4629,
 'national': 4359,
 'level': 3778,
 'event': 2427,
 'student': 6342,
 'association': 651,
 'mesa': 4133,
 'coordinator': 1594,
 'treasurer': 6783,
 'attending': 675,
 'printing': 5082,
 'readiness': 5369,
 'conducted': 1474,
 'nasscom': 4357,
 'foundation': 2750,
 'talent': 6491,
 'life': 3798,
 'atributes': 669,
 'positive': 4982,
 'attitude': 676,
 'quick': 5287,
 'learner': 3752,
 'visa': 7084,
 'b1': 749,
 'sweden': 6438,
 'seattle': 5876,
 'graduate': 2934,
 'diploma': 2009,
 'symbiosis': 6454,
 'institute': 3380,
 '2007': 84,
 'electronics': 2235,
 'telecommunications': 6561,
 'cloud': 1303,
 'architect': 568,
 'devops': 1969,
 'computing': 1451,
 '48': 182,
 'shell': 5981,
 'scripting': 5854,
 '96': 231,
 'python': 5250,
 ...}

In [49]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB

In [50]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb',MultinomialNB())
])

In [51]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [52]:
clf.score(X_test,y_test)

0.9948186528497409

In [53]:
y_pred = clf.predict(X_test)

In [55]:
from sklearn.metrics import classification_report
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       1.00      0.50      0.67         2\n           1       0.91      1.00      0.95        10\n           2       1.00      1.00      1.00         4\n           3       1.00      1.00      1.00         9\n           4       1.00      1.00      1.00         6\n           5       1.00      1.00      1.00         5\n           6       1.00      1.00      1.00        11\n           7       1.00      1.00      1.00         7\n           8       1.00      1.00      1.00         7\n           9       1.00      1.00      1.00         5\n          10       1.00      1.00      1.00        10\n          11       1.00      1.00      1.00         2\n          12       1.00      1.00      1.00         9\n          13       1.00      1.00      1.00        10\n          14       1.00      1.00      1.00         5\n          15       1.00      1.00      1.00        17\n          16       1.00      1.00      1.00         6\n          17       1.00      1.00      1.00         4\n          18       1.00      1.00      1.00         9\n          19       1.00      1.00      1.00         8\n          20       1.00      1.00      1.00        10\n          21       1.00      1.00      1.00         3\n          22       1.00      1.00      1.00        12\n          23       1.00      1.00      1.00        11\n          24       1.00      1.00      1.00        11\n\n    accuracy                           0.99       193\n   macro avg       1.00      0.98      0.98       193\nweighted avg       1.00      0.99      0.99       193\n'

In [68]:
X_test

56     Education Details BBA lovely professional univ...
678    Operating Systems Windows Linux Ubuntu Network...
913      Good logical analytical skills Positive atti...
37     Education Details B Tech Rayat Bahra Institute...
179    SKILLS Languages C Basic JAVA Basic Web Techno...
                             ...
154    SKILLS Languages C Basic JAVA Basic Web Techno...
283    Education Details January 1992 January 2003 ye...
2      Areas Interest Deep Learning Control System De...
172    Technical Skills Web Technologies Angular JS H...
122      Good communication skill Quick learner Keen ...
Name: preprocessed_resume, Length: 193, dtype: object

In [77]:
X_test[:5][179]

'SKILLS Languages C Basic JAVA Basic Web Technologies HTML5 CSS3 Bootstrap JavaScript jQuery Corel Draw Photoshop Illustrator Databases MySQL5 0 IDE Tools Sublime Text Notepad Operating Systems Windows XP Windows 7Education Details September 2015 Bachelor Engineer Information technology Nagpur Maharashtra Nagpur University 2011 HSC Secondary Higher Secondary State Board Secondary June 2009 SSC Secondary Higher Secondary Maharashtra State Board Secondary Web Graphics Designer Web Graphics Designer Virtuous Media Point Pune Skill Details BOOTSTRAP Exprience 24 months HTML5 Exprience 24 months JAVASCRIPT Exprience 24 months jQuery Exprience 24 months COREL DRAW Exprience 24 months Adobe Photoshop Exprience 24 months Adobe Illustrator Exprience 12 months CSS3 Exprience 24 monthsCompany Details company Virtuous Media Point description company CNC Web World description Internship Program e sense Solution pvt ltd Nagpur Web Designing Developement Presented Project Competition Innovesta 15 Priyadarshini Indira Gandhi College Engineering Nagpur Presented National Level Paper Presentation TECH WAVE 2015 S R M C E Nagpur company e sense Solution pvt ltd description Key Result Areas Designed websites solutions studying information needs conferring users studying systems flow data usage work processes Understood process requirements provided use cases business functional technical requirements Interacted users requirement gathering prepared functional specifications low level design documents Participated Software Development Life cycle SDLC Agile methodology right requirement analysis Performed detailed design modules implementation documentation integrated software modules Developed team members Highlights Developed modules customer requirement identified fixed number bugs related code Database connectivity UI Defects Analyzed modified existing codes incorporate number changes application user requirements wrote new codes required Coded implemented integrated complex programs technologies HTML5 CSS3 JavaScript jQuery bootstrap Having good command Graphics designing effective ideas PROJECTS www nitka com Nagpur united corporation admin Mintmetrix com Tagline videos admin Smartbadge admin projects technologies like HTML5 CSS3 Bootstrap JavaScript jQuery text editor sublime text www shreekiaspack co www 3staragroproducts com www luckystationery co technologies like HTML5 CSS3 Bootstrap javascript text editor notepad Design Logos Brochures Advertising Banners Visiting Cards Pamphlet Hoardings etc B E FINAL YEAR PROJECT Major Project Title WEB BASED DISEASE DIAGNOSIS EXPE SYSTEM Duration 1 Year Description project provide website doctor gives online consultation particular disease System gives better suggestions health problems Mini Project Development SHOPPING MANAGEMENT SYSTEM Developed C CURRICULUM EXTRA CURRICULUM ACTIVITIES company FACE description Co ordinator project competition'

In [57]:
y_pred

array([12, 17, 23,  6, 24, 14, 19, 13,  0, 20, 15,  2,  3,  3,  6,  1,  4,
        3, 12, 23,  8,  4, 24,  3,  7,  6, 12, 20, 18,  6,  6, 15, 13, 13,
        2, 19, 12, 15,  2, 24,  6, 15, 23, 13, 14, 15, 12,  9, 20,  1, 10,
       15, 22, 10, 10, 18, 24,  6,  1, 21, 17,  4,  7,  1,  7,  3, 21,  2,
       16, 10, 14, 20,  5, 15,  1, 20, 23, 15, 10, 15,  8, 20,  6,  5,  4,
       10,  7, 13, 15, 12, 14, 13,  8,  3, 23,  8, 22, 15, 22, 19,  9,  9,
        1, 15, 17, 19, 16, 15,  8,  5,  9, 24, 20, 22,  4, 10, 18, 20,  1,
       18, 19, 13, 16, 13, 24,  3, 20,  7, 13,  7,  3,  6,  5,  3, 23, 23,
       16,  1, 22, 23, 24, 15, 23, 18, 22, 23, 22, 12, 16, 12,  1, 19,  5,
       12, 23, 24, 22,  8, 10, 17, 18,  8, 22, 10, 24, 21, 16, 18, 22, 13,
       19, 18, 11, 19,  4,  9, 22, 10, 15,  1, 18, 15, 20, 11, 22, 15,  6,
        7, 24, 14,  6, 24,  1])

In [85]:
sample_text = "EXPERIENCE Senior Systems Engineer Infosys Ltd. May 2021 -September 2023, Chennai, India Automated deployment process for Angular applications using Python scripts, resulting in 30% faster and error-free deployments to UAT environments. Executed complex SQL queries proficiently to retrieve essential data for application development. Implemented efficient change detection mechanisms, reducing screen response time from 6-7 seconds to less than 20 ms and enhancing user interface responsiveness. Upgraded Angular application from version 6 to 13, ensuring compatibility with the latest frameworks and libraries. Conducted code reviews, provided feedback, and mentored junior developers. Actively participated in Agile ceremonies, including stand-ups and sprint planning. PROJECT AtliQ Hospitality Analysis - PowerBI Created an interactive Power BI dashboard to analyze and visualize hotel data , including revenue , occupancy , and ratings . Utilized advanced features , such as bookmarks , and tooltips , for an enhanced user experience . Effectively cleaned and shaped data with Power Query and DAX for precise analysis . Highlighted significant insights , such as Mumbai 's top revenue generation at 669 million and AtliQ Exotica 's exceptional performance with 320 million revenue , a 3.62 rating , and 57 % occupancy . Predicting Model for Customer Conversion Analyzed customer information and implemented a machine - learning model to predict customer conversion . Performed data cleaning and preprocessing tasks using Pandas . Created data visualizations to identify key predictors of customer conversion . Built and tested four machine learning models , achieving up to 89.14 % accuracy with Random Forest Classifier . EDUCATION Professional Development Program Guvi - Chennai, India - 2023 Master Data Science Program Bachelor of Technology Hindustan University - Chennai, India - 2020 - 8.03 Mechatronics Engineering. SKILLS SQL Python Data Analysis and Visualization: Pandas, Matplotlib Power BI Angular HTML, CSS, Typescript"

In [86]:
type(X_test)

pandas.core.series.Series

In [87]:
sample_input = pd.Series(sample_text)

In [88]:
pred = clf.predict(sample_input)

In [89]:
decoded_prediction = label_encoder.inverse_transform(pred)

In [90]:
decoded_prediction

array(['Data Science'], dtype=object)

In [92]:
pickle.dump(clf, open("./model/resume_role_classifier_model.pkl","wb"))